# This sets the default behaviour, overriding core.autocrlf
* text=auto

# All source files should have unix line-endings in the repository,
# but convert to native line-endings on checkout
*.cpp text
*.h text
*.hpp text

# Python and bash scripts can't be run in Bash when they have Windows line-endings.
*.py text eol=lf
*.sh text eol=lf
